$extra-small-value:1rem;
$small-value:2rem;
$medium-value:4rem;
$large-value:6rem;
$extra-large-value:10rem;

$beige:#FFFFEE;
$dark-green:#384228;
$medium-yellow:#E5B12B;

@font-face {
    font-family: 'Patsy Sans';
    src: url('./PatsySans.otf');
}

$header-font:'Patsy Sans', Verdana, Geneva, Tahoma, sans-serif;
$body-font:'Montserrat', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5% //10px=1rem;
}

main{
    overflow-x: hidden;
}

article{
    display: flex;
}

h1,h2{
    font-family:$header-font;
    font-weight: 100; //reduce boldness
    overflow: hidden;
}

h1{
    font-size: 3.6rem;
}

h2{
    font-size: 2.8rem;
}

p,a,button,input{
    font-family: $body-font;
    font-size: 1.6rem;
}

button,#submit{
    padding:$extra-small-value $small-value;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.25s ease;
}

.beige-part{
    background-color: $beige;
    color:$dark-green;
}

.yellow-part, .yellow-btn{
    background-color: $medium-yellow;
    color:$beige;
}

.yellow-btn{
    border:3px solid $medium-yellow;
    &:hover{
        background-color: $beige;
    color:$medium-yellow;
    }
    
}

.green-part, .green-btn{
    background-color: $dark-green;
    color:$beige;
}

.green-btn{
    border:3px solid $dark-green;
    &:hover{
        background-color: inherit;
        color:$dark-green;
    }
    
}

.img-container{
    img{
        height:100%;
        width:100%;
        object-fit: cover;
    }
}

.text-reveal{
    display: inline-block;
    transform: translateY((100%));
}

header{
    margin:$small-value;
}

#header-logo{
    width:20vw;
}

#hero{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:$medium-value $small-value;

    button{
        margin:$small-value;
    }

    .img-container{
        width:80vw;
        height:45vh;
        img{
            transform: translateY((100%));
        }
    }
}

#about{
    flex-direction: column;
    gap:$medium-value;
    margin: $extra-large-value $medium-value $small-value;
    
    p{
        margin-top: $small-value;
    }
}

#about-img{
    position: relative;
    margin:$small-value;
    .img-container{
        height:85vw;
        width:55vw;
        padding: $small-value;
    }
}


#about-img-dogs, #about-img-cats{
    display: flex;
}

#about-img-cats{
    flex-direction: row-reverse;
}

#asset{
    position: absolute;
    top:60vw;
    left:20vw;
    width:45vw;
}

#services{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        text-align: center;
        margin-bottom: $medium-value;
    }
}

.service-content{
    .img-container{
        height:100vw;
        width:100vw;
    }
}

.service-text{
    padding:$extra-large-value $medium-value;
    p{
        margin-top: $extra-small-value;
    }
}

#registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:$small-value;
    margin:$medium-value;
    h1{
        text-align: center;
    }
}

form{
    background-color: #f8e1a6;
    padding:$small-value;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    p{
        margin-top: $extra-small-value;
    }
}

input{
    padding:$extra-small-value $small-value;
    border: 3px solid $beige;
    background-color: $beige;
    border-radius: 1.5rem;
    &:focus{
        background-color: transparent;
    }
    &:not(#address){  
        width:50vw;
    }
}

#address{
    width:70vw;
}

#submit{
    margin:0 auto;
    margin-top: $small-value;
}

#main-modal{
    display: none;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 1;
    background-color: #38422859;
    backdrop-filter: blur(50px);
}

#modal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:$extra-small-value;
    padding:$medium-value $extra-small-value;
    margin:$large-value $extra-small-value;
    border-radius: 2.5rem;
    p:last-of-type{
        color:$medium-yellow;
    }
}

#success-icon{
    width:15vw;
}

#close{
    opacity: 0.65;
    filter: invert(91%) sepia(22%) saturate(3886%) hue-rotate(339deg) brightness(96%) contrast(86%);
    position: absolute;
    top:0;
    right:0;
    margin:$extra-small-value;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:$small-value;
    padding:$medium-value;
    text-align: center;
}

#soc-med{
    display: flex;
    gap:$extra-small-value;
    margin: $small-value 0;
    img{
        width:20vw;
        filter: invert(99%) sepia(100%) saturate(238%) hue-rotate(323deg) brightness(106%) contrast(103%);
        opacity: 0.85;
        transition: opacity 0.5s ease;
        &:hover{
            opacity: 1;
        }
    }
}

#footer-details{
    display: flex;
    flex-direction: column;
    gap:$extra-small-value;
}

#notes{
    text-align: left;
    a{
        color:inherit;

    }
}

//for larger screens (tablet and desktop)

@media screen and (min-width:600px) {
    h1{
        font-size: 6.4rem;
    }
    
    h2{
        font-size: 4.8rem;
    }
    
    p,a,button,input{
        font-size: 2.4rem;
    }

    #header-logo{
        width:10vw;
    }
    
    #hero{
        margin:$small-value;
    
        .img-container{
            margin-top: $medium-value;
            width:90vw;
            height:80vh;
            overflow: hidden;
        }
    }
    
    #about{
        flex-direction: row;
        align-items: center;
    }
    
    #about-text{
        width: 50vw;
        p{
            margin-top: $medium-value;
        }
    }

    #about-img{
        width: 40vw;
        .img-container{
            height:45vw;
            width:25vw;
        }
    }
    
    #asset{
        top:37vw;
        left:10vw;
        width:20vw;
    }
    

    #services{
        margin-top: $extra-large-value;
        h1{
            margin-bottom: $large-value;
            
        }
    }
    .service-content{
        display: flex;
        align-items: center;
        .img-container{
            height:120vh;
            width:50vw;
        }
    }

    .service-text{
        width:50vw;
        p{
            word-wrap: break-word;
        }
    }

    .right-align-content{
        flex-direction: row-reverse;
    }

    form {
        padding:$medium-value;
        p{
            margin-top: $small-value;
        }
    }
    
    input:not(#address){  
        width:30vw;
    }
    
    #address{
        width:50vw;
    }

    #submit{
        margin-top: $medium-value;
    }

    #main-modal{
        padding: 0 $extra-large-value;
    }
    
    #modal{
        padding:$medium-value;
        margin:$medium-value;
    }

    #success-icon{
        width:10vw;
    }

    #soc-med{
        gap:$medium-value;
        img{
            width:7vw;
        }
    }
    
    #footer-details{
        flex-direction: row;
        justify-content: center;
        gap:$small-value;
        margin:$small-value 0;
        p{
            word-wrap: break-word;
        }
    }
    
    .details{
        width:28vw;
    }
}